---
- name: "copy the package"
  hosts: testserver
  become: yes
  become_user: root
  tasks:
   - name: "copy from source to destination"
     ansible.builtin.copy:
      src: /home/ubuntu/jenkins/workspace/build_jenkins/*
      dest: /home/ubuntu/docker/*
